<h1>New song</h1>
<%= form_for @new_song do | f | %>
    <%= f.label "Song name:" %>
    <%= f.text_field :name %><br /><br />
    <%= f.label "Artist:" %>
    <%= collection_select :song, :artist_id, Artist.all, :id, :name %><br /><br />
    <%= f.label "Genre:" %>
    <%= collection_select :song, :genre_id, Genre.all, :id, :name %><br /><br />
    <%= f.submit %>   
<% end %>